



<div class="mainBlock">


   <div class="formBlock">

      <input type="text" class="form-control"  [(ngModel)]="sumForom" (input)="onKeyPressFrom()">
      <select class="form-select" aria-label="Select currency from" [(ngModel)]="selectedFromCurrency">
        <option value="">Оберіть валюту</option>
        <option *ngFor="let currency of curreCurrencyServiceServicencyService.Currency" [ngValue]="currency.cc">{{ currency.cc }}</option>
      </select>
      <p>{{labeFromResult}}</p>
    </div>



    <div class="formBlock">

      <input type="text" class="form-control"  [(ngModel)]="sumTo" (input)="onKeyPressTo()">
      <select class="form-select" aria-label="Select currency to" [(ngModel)]="selectedToCurrency" >
        <option value="">Оберіть валюту</option>
        <option *ngFor="let currency of curreCurrencyServiceServicencyService.Currency" [ngValue]="currency.cc">{{ currency.cc }}</option>
      </select>
      <P>{{labeToResult}}</P>
</div>

</div>

<p class="valid">{{valid}}</p>








